<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>New Message!</h1>
    <div>
        <ul>
            <%messages.forEach( el => {%>
            <li>
                <a href="#"><%= el.user%></a>
                <span><%= el.text%></span>
                <span><%= el.added%></span>
            </li>
            <%})%>
        </ul>
    </div>
    <button><a href="/new">Click Here to Add a New Message</a></button>
    <script src="/public/main.js"></script>
</body>
</html>